<div class="col mb-5">
    <div class="card h-100">
        <!-- Product image-->
        <img class="card-img-top" src={{product?.image}} alt="..." />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">
                     <a [routerLink]="['/productDetails', product?.id]">{{product?.title}} </a>
                </h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    @if(product) {
                        @for(i of [].constructor(round(product.rating.rate)); track i) {
                            <div class="bi-star-fill"></div>
                        }
                        @for(i of [].constructor(5 - round(product.rating.rate)); track i) {
                            <div class="bi-star"></div>
                        }
                    }
                </div>
                <!-- Product price-->
                ${{product?.price}}
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
        </div>
    </div>
</div>